.about {
  background: rgb(255, 255, 255);
  padding: 32px 0 80px;
  position: relative;
  display: flex;
}

.about__container {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about__author-photo {
  width: 272px;
  height: 272px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.about__content {
  max-width: 600px;
  margin: 24px 0 0;
  padding: 0;
}

.about__title {
  font-family: 'Roboto-slab-regular', 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color:rgba(26, 27, 34, 1);
  margin: 0 0 16px;
}

.about__paragraph {
  margin: 0 0 25px;
  padding: 0;
  font-family: 'Roboto-regular', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.about__paragraph:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 40px 0 72px;
  }
  .about__container {
    align-items: center;
  }
  .about__author-photo {
    width: 232px;
    height: 232px;
    margin: 0 32px 0 0;
  }
  .about__content {
    width: 55%;
    margin: 0;
  }
}

@media screen and (min-width: 1400px) {
  .about {
    padding: 80px 0;
  }
  .about__author-photo {
    width: 465px;
    height: 465px;
    margin: 0 55px 0 0;
  }
  .about__content {
    min-height: 365px;
  }
  .about__title {
    font-size: 40px;
    line-height: 46px;
  }
}