.header {
  box-sizing: border-box;
  min-height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  display: flex;
  background: url(../../images/photo-form.jpg) no-repeat center/cover fixed;
  z-index: 3;
}

.header::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}

.header__container {
  margin: auto;
  max-width: 1232px;
  width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header__logo {
  width: 117px;
  height: 24px;
  object-fit: contain;
  margin: 0 30px 0 0;
}

.header__burger-button {
  display: block;
  position: relative;
  width: 16px;
  height: 8px;
  padding: 0;
  cursor: pointer;
}

.header__burger-button::before,
.header__burger-button::after {
  content: '';
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button_active::before {
  transform: rotate(45deg);
  top: 3px;
}

.header__burger-button_active::after {
  transform: rotate(-45deg);
  bottom: 2.5px;
}

@media screen and (min-width: 768px) {
  .header__burger-button {
    display: none;
  }
}