.news-card__button {
  width: 40px;
  height: 40px;
  background-size: 14px 19px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.news-card__button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
}

.news-card__button_inactive::before {
  background: rgba(255, 255, 255, .5);
}

.news-card__button_inactive:hover::before {
  background: rgba(255, 255, 255, 0);
}

.news-card__button_inactive:visited::before {
  background: rgba(255, 255, 255, .5);
}

.news-card__button_active::before {
  background: rgba(255, 255, 255, 0);
}

.news-card__button_active:hover::before {
  background: rgba(255, 255, 255, .5);
}

.news-card__button_active:visited::before {
  background: rgba(255, 255, 255, 0);
}

.news-card__button::after {
  display: none;
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  right: 110%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 12px 4px;
  min-width: 80px;
  max-width: 165px;
  min-height: 40px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  box-sizing: border-box;
  font-family: 'Roboto-medium', 'Times New Roman', Times, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: linear 100ms opacity;
}

.news-card__button:hover::after {
  opacity: 1;
}

.news-card__button-img {
  background: center no-repeat;
  margin: 4px 0 0;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .news-card__button {
    top: 8px;
    right: 8px;
  }
  .news-card__button::after {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .news-card__button {
    top: 24px;
    right: 24px;
  }
  .news-card__button::after {
    max-width: 235px;
  }
}